<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrapmin.css">
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src=
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<link href=
"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
          rel="stylesheet" />
    <script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>



    <title>Tech Blog</title>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white justify-content-between">
        <a class="navbar-brand brand mr-sm-2 fw-bold" href="/">Tech Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarTogglerDemo01">
          <style>
            .brand{
              margin-left: 20px;
            }
            code{
              border: none !important;
            }
          </style>



          <div class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/dashboard">Dashboard</a>
            </li>
          </div>



          <div class="navbar-nav ms-auto">
            {{#if loggedIn.logged_in}}
              {{!-- <button class="btn btn-danger navbar-btn">{{logged_in.username}}</button> --}}
              {{!-- <script src="/js/logout.js"></script> --}}
              <div class="btn-group">
              <button type="button" class="btn btn-danger">{{loggedIn.username}}</button>
              <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                {{!-- <li><a class="dropdown-item" href="#">Profile</a></li> --}}
                <li><a class="dropdown-item text-danger" href="#">Logout</a></li>
              </ul>
            </div>
            {{else}}
            {{!-- <button class="btn btn-danger navbar-btn" type="submit">Login</button> --}}
            <a href="/login" class="btn btn-danger navbar-btn">Login</a>
            {{/if}}

            

            <style>
              .navbar-btn{
                margin-right: 10px;
              }
            </style>
          </div>

        </div>
    </nav>




    <div id="page-wrapper" class="container" class="m-5">
      <main>
              {{{ body }}}
      </main>
    </div>


  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>